Options -Indexes

RewriteEngine On

# Reescreve URLs para dashboard.php apenas se não for um arquivo ou diretório existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]


# Nega acesso a todos os outros arquivos PHP
<FilesMatch "\.(php|env)$">

    Require all denied

</FilesMatch>

# Permite acesso ao dashboard.php
<Files "index.php">
    Require all granted
</Files>

# Configurações de cache
<FilesMatch "\.(html|htm|js|css)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
</FilesMatch>

SetEnv GOOGLE_APPLICATION_CREDENTIALS "service-account-file.json"





